*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    

}



.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;

}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}

.col-1 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: palegreen;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: blueviolet;
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;

}
.rating .fa {
    color: yellowgreen;
}
.col-4:hover{
    transform: translateY(-14px);
    background: burlywood;
}

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 50px;
    padding: 30px 0;

}

.col-2 p{
    color: rebeccapurple;

}
.col-4 .fa-cart-plus {
    font-size: 44px;
    color: #ff523b;
  }



.col-2 .offer-img{
    padding: 30px 0;
}

.testimonials{
    padding-top: 100px;
}
.testimonials .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonials .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonials .col-3:hover{
    transform: translateY(-10px);
    background: palevioletred;
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;

}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonials .col-3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(60%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;

}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    color: #ff523b;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


@media only  screen and (max-width: 800px){
    nav ul{ 
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    #single-product .row{
        text-align: left;
    }
    #single-product .col-2{
        padding: 20px 0;
    }
    .single-product h2{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }

}

.row-2{
    justify-content: space-between;
    margin: 70px auto 30px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background 0.5s;
}
.page-btn span:hover{
    background: #ff523b;
}

#single-product{
    margin-top: 60px;
}
#single-product .col-2 img{
    padding: 0;
}
#single-product .col-2{
    padding: 10px;
}
#single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
#single-product select{
    display: block;
    margin: 10px;
    margin-top: 20px;
}
#single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
#single-product input:focus{
    outline: none;
}
#single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{ 
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td :last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.account-page{
    padding: 30px 0;
    background: radial-gradient(#fff,#ffd6d6);
    ;
}
.form-container{
    background: #fff;
    width: 280px;
    height: 600px;
    position: relative;
    text-align: center;
    padding: 10px 0px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 110px;
    transition: transform 2s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;

}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
    
}
#loginForm{
   margin-left: -300px;
}
#regForm{
    margin-left:0;
}
form a{
    font-size: 12px;

}

#indicator{
    width: 40%;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}





@media only  screen and (max-width: 800px){
    .row{
        text-align: center;

    }
     .col-2, .col-3, .col-4{

        flex-basis: 100%;

    }

}

body {
	font-family: Arial, sans-serif;
	background: radial-gradient(circle, #ffffff, #f2f2f2, #e6e6e6);
}

header {
	background: linear-gradient(to right, #f8049c, #ff8c00, #ffc837);
	background-size: 600% 100%;
	color: #fff;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-left: 2em;
}

nav a {
	color: #f8049c;
    font-size: 24px;
	text-decoration: none;
    transform: background 0.5s;
}
nav a:hover{
    color: blue;
}

main {
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 2em;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 10px;
}

h2 {
	font-size: 2em;
	margin-bottom: 1em;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	margin-top: 1em;
}

input, textarea {
	padding: 0.5em;
	margin-bottom: 1em;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 0.5em 1em;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	font-size: 1em;
	margin-top: 1em;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
	background-color:#f8049c;
	color: #333;
}
#message {
    height: 100px;
    width: 300px;
    margin-top: 10px;
    
  }
  footer p{
    color: #f8049c;
    text-align: center;
    font-size: 22px;
  }

  .carousel-container {
	margin: 30px auto;
	max-width: 800px;
}

.carousel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.carousel div {
	margin: 0 10px;
}

.carousel img {
	max-width: 100%;
	max-height: 300px;
	object-fit: cover;
}